body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #3c9d9b;
    font-size: 5.625rem; /* 16px = 100% = 1em */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #3c9d9b;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #52de97;
    font-family: 'Montserrat', sans-serif;
}

table {
    margin: auto;
}

.top-container {
    background-color: #394a6d;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile img {
    width: 200px;
}